*{
    box-sizing: border-box;
}
body{
  margin: auto;
  background-color: LightCyan;
}

.title {
  font-family: 'Encode Sans Condensed', sans-serif;
  margin-left: 200px;
  margin-top: 155px;
  color: teal;
}
.author {
  font-family: 'Encode Sans Condensed', sans-serif;
  font-size: 15px;
  margin-left: 200px;
  color: teal;
}
.text {
  font-family: 'Encode Sans Condensed', sans-serif;
  color: teal;
  margin-left: 200px;
  /* margin-top: 155px; */

}
.interior-text {
  font-family: 'Encode Sans Condensed', sans-serif;
  color: teal;
  margin-left: 200px;
  margin-top: 260px;

}
.images {
  width: 50px;
  margin-left: 400px;
}

a{
  font-family: 'Righteous', cursive;
  font-weight: bold;
  color: pink;
  text-decoration: none;
  transition: color 1s ease;
}
a:hover{
  color: white;
}
