* {
  box-sizing: border-box;
}
body {
margin: 0;
}
div {
  width: 100px;
  height: 100px;
  float: left;
}
.board{
  width: 800px;
}
.red {
  background-color: red;
}
.black {
  background-color: black;
}
