* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font: 25px;
  background-color: lavender;
}
main {
    width: 87vw;
    margin: 40px; auto;
}
@media only screen and (min-width:
  600px) {
  body {
    background-color: violet;
  }
}
@media only screen and (min-width:
  1200px) {
    body {
      background-color: orange;
    }
}
