*{
    box-sizing: border-box;
}
body{
  margin: 0;
  font-size: 15px;
  font-family: 'Minon Variable Concept', sans-serif;
}
#container {
  width: 500px;
  margin-left: 450px;
  margin-top: 100px;
  margin-bottom: 200px;
}
.fixed {
  z-index: -1;
  background-color: lightblue;
  width: 500px;
  height: 575px;
  position: fixed;
  margin-left: 300px;
  margin-top: -50px;
}
.chaptertitile {
  margin: 50px;
}
