body {
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
}
.full {
  width: 100vw;
  height: 75vh;
}
.halfleft {
  width: 50vw;
  height: 50vh;
  margin-left: 100px;
}
.halfright {
  width: 50vw;
  height: 50vh;
  margin-left: 550px;
}
#list-name {
  background-color: whitesmoke;
}
#color-1 {
  transition: all 2s ease;
  background-color: hotpink;
}
#color-2 {
  background-color: dodgerblue;
}
#color-3 {
  background-color: yellow;
}
#color-4 {
  background-color: pink;
}
#color-5 {
  background-color: green;
}

h1 {
  font-size: 5em;
  margin: 0;
  padding: 19vh 0 0 0;
  text-align: center;
  font-family: 'Ubuntu Condensed', sans-serif;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-weight: bold;
  transition: all 3s ease;

}
span {
  transition: all 3s ease;
  cursor: pointer;
}
