* {
  box-sizing: border-box;
}
body {
  margin: 0:
  padding: 0;
}
.titleline {
  z-index: -1;
  background-color: orange;
  height: 20px;
  margin: 0;
  margin-top: 50px;
}
h1 {
  font-size: 4em;
  margin: 0;
  text-align: center;
  font-family: 'Bangers', cursive;
  text-transform: uppercase;
  letter-spacing: .1em;
}
h2 {
  font-family: font-family: 'Anton', sans-serif
  color: white;
}
.pink {
  width: 160px;
  height: 160px;
  transform: rotate(-20deg);
  margin-top: 392px;
  background-color: pink;
  position: absolute;
}
.red {
  width: 160px;
  height: 160px;
  transform: rotate(-20deg);
  margin: 170px;
  margin-top: 392px;
  background-color: red;
  position: absolute;
}
.orange {
  width: 160px;
  height: 204px;
  transform: rotate(-20deg);
  margin: 320px;
  margin-top: 392px;
  background-color: orange;
  position: absolute;
}
.yellow {
  width: 160px;
  height: 204px;
  transform: rotate(-20deg);
  margin: 480px;
  margin-top: 392px;
  background-color: yellow;
  position: absolute;
}
.teal{
  width: 160px;
  height: 204px;
  transform: rotate(-20deg);
  margin: 640px;
  margin-top: 392px;
  background-color: teal;
  position: absolute;
}
.green {
  width: 160px;
  height: 204px;
  transform: rotate(-20deg);
  margin: 800px;
  margin-top: 392px;
  background-color: green;
  position: absolute;
}
.blue {
  width: 160px;
  height: 204px;
  transform: rotate(-20deg);
  margin: 960px;
  margin-top: 392px;
  background-color: blue;
  position: absolute;
}
.purple {
  width: 160px;
  height: 204px;
  transform: rotate(-20deg);
  margin:1130px;
  margin-top: 392px;
  background-color: purple;
  position: absolute;
}
.block:hover {
  cursor: cell;
}
