* {
  box-sizing: border-box;
}
body {
  margin: 0px:
  padding: 0px;
}
.titleline {
  z-index: -1;
  background-color: orange;
  height: 20px;
  margin: 0;
  margin-top: 50px;
}
h1 {
  font-size: 4em;
  margin: 0;
  text-align: center;
  font-family: 'Bangers', cursive;
  text-transform: uppercase;
  letter-spacing: .1em;
}
h2 {
  font-family: font-family: 'Anton', sans-serif
  color: white;
}
.pink {
  width: 160px;
  height: 204px;
  margin-top: 150px;
  background-color: pink;
  position: absolute;
  border-radius: 30%;
    -webkit-transition:height 1s;
    text-align: center;
}
.pink:hover {
    height: 440px; /* This is the height on hover */
    cursor: cell;
}
.red {
  width: 160px;
  height: 204px;
  margin: 160px;
  margin-top: 150px;
  background-color: red;
  position: absolute;
  border-radius: 30%;
  -webkit-transition:height 1s;
  text-align: center;
}
.red:hover {
    height: 440px; /* This is the height on hover */
    cursor: cell;
}
.orange {
  width: 160px;
  height: 204px;
  margin: 320px;
  margin-top: 150px;
  background-color: orange;
  position: absolute;
  border-radius: 30%;
  -webkit-transition:height 1s;
  text-align: center;
}
.orange:hover {
    height: 440px; /* This is the height on hover */
    cursor: cell;
}
.yellow {
  width: 160px;
  height: 204px;
  margin: 480px;
  margin-top: 150px;
  background-color: yellow;
  position: absolute;
  border-radius: 30%;
  -webkit-transition:height 1s;
  text-align: center;
}
.yellow:hover {
    height: 440px; /* This is the height on hover */
    cursor: cell;
}
.teal{
  width: 160px;
  height: 204px;
  margin: 640px;
  margin-top: 150px;
  background-color: teal;
  position: absolute;
  border-radius: 30%;
  -webkit-transition:height 1s;
  text-align: center;
}
.teal:hover {
    height: 440px; /* This is the height on hover */
    cursor: cell;
}
.green {
  width: 160px;
  height: 204px;
  margin: 800px;
  margin-top: 150px;
  background-color: green;
  position: absolute;
  border-radius: 30%;
  -webkit-transition:height 1s;
  text-align: center;
}
.green:hover {
    height: 440px; /* This is the height on hover */
    cursor: cell;
}
.blue {
  width: 160px;
  height: 204px;
  margin: 960px;
  margin-top: 150px;
  background-color: blue;
  position: absolute;
  border-radius: 30%;
  -webkit-transition:height 1s;
  text-align: center;
}
.blue:hover {
    height: 440px; /* This is the height on hover */
    cursor: cell;
}
.purple {
  width: 160px;
  height: 204px;
  margin:1120px;
  margin-top: 150px;
  background-color: purple;
  position: absolute;
  border-radius: 30%;
  -webkit-transition:height 1s;
  text-align: center;
}
.purple:hover {
    height: 440px; /* This is the height on hover */
    cursor: cell;
}
.b1 {
  color: white;
  background-color: orange;
}
