body {
  margin: 0;
}
.relative {
  background-color: red;
  width: 800px;
  height: 400px;
  position: relative;
  top: 115px;
  left: 321px;
}
.circle {
  background-color: hotpink;
  width: 100px;
  height: 100px;
  position: relative;
  top: 100px;
  left: 400px;
}
